.InputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 818px) {
    .InputContainer {
        width: 100%;
    }
}

.Label {
    margin-bottom: 5px;
    display: none;
}

.Input {
    border-bottom: 1px solid black;
    padding: 3px;
    background: white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.Input:focus {
    outline: none;
}

.InputError {
    border-bottom: 1px solid red;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.ErrorMessage {
    color: red;
    visibility: hidden;
    margin: 0 0 0 15px;
    font-size: 12px;
}

.ErrorShown {
    visibility: visible;
}

.Radio {
    margin-right: 12px;
}

.RadioContainer {
    display: flex;
    flex-direction: row;
}

.Placeholder {
    text-align: left;
    font: normal normal 300 14px/22px Mulish;
    letter-spacing: 0px;
    color: #010a60;
}
